@model Lab1_SecureSoftware_NicholasCassar.Models.JobListing

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>JobListing</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="JobAddress" class="control-label"></label>
                <input asp-for="JobAddress" class="form-control" />
                <span asp-validation-for="JobAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobName" class="control-label"></label>
                <input asp-for="JobName" class="form-control" />
                <span asp-validation-for="JobName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Urgency" class="control-label"></label>
                <input asp-for="Urgency" class="form-control" />
                <span asp-validation-for="Urgency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobDetails" class="control-label"></label>
                <input asp-for="JobDetails" class="form-control" />
                <span asp-validation-for="JobDetails" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salary" class="control-label"></label>
                <input asp-for="Salary" class="form-control" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
